<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markben.basic.common.dao.MenuDao">

    <select id="queryMgrList" parameterType="com.markben.beans.bean.StateSearch" resultType="com.markben.basic.common.bean.DefaultMenuItem">
        select t.id,t.parent_id,t.name,t.sort_order, t.resource_id,r.name as resource_name,
               t.state,t.create_time,t.menu_type,t.pc_icon,t.mobile_icon
        from t_sys_menu t left join t_sys_resource r on t.resource_id=r.id where 1=1
         <if test="name != null">
             and t.name like '%#{name}%' test
         </if>
        <if test="state != null">
            and t.state = #{state}
        </if>
        order by t.sort_order asc
    </select>

</mapper>